<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
    <br/>
    <div class="row">
        <div class="col-sm-9">
            <h1>Еврейские эго-документы</h1>
            <br/>
            <p><img src="../static/images/postcard.jpg" alt="Еврейская открытка" width="700" height="350"></p>
            <br/>
            <p><a href="raisa_page.html">Воспоминания Раисы Барац</a></p>
            <p><a href="kheyfets_page.html">Воспоминания Александра Хейфеца</a></p>
        </div>
            <div class="col-sm-3">
                <br/>
                <br/>
                <br/>
                <ul>
                    <p><b>Темы</b></p>
                    еврей
                    еврейка
                    еврейский
                    народ
                    фашизм
                    национализм
                    интернационализм
                    вопрос
                    антисемит
                    антисемитизм
                    местечко
                    тора
                    синагога
                    йом
                    кипур
                    рош
                    шана
                    суббота
                    шабес
                    портной
                    дача
                    идиш
                    нос
                    фамилия
                    паспорт
                    древнееврейский
                    <a href="kheyfets_page.html#war">война</a>
                    победа
                    космополит
                    врач
                    сталин
                    депортация
                    шестидневный
                    война
                    судный
                    эмиграция
                    израиль
                    отказник
                    ребе
                    анекдот
                    погром
                    магазин
                    кладбище
                    фотография
                    матмех
                    мехмат
                    дискриминация
                    песах
                    пасха
                    оккупация
                    эвакуация
                    библия
                    книга
                </ul>
            </div>
    </div>
</div>
</body>
</html>